@font-face {
    font-family: 'alegreya';
    src: url(./fonts/alegreyasanssc-black-webfont.woff2) format('woff2'),
         url(./fonts/alegreyasanssc-black-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --yellow:#ffc92f;
    --red:#d82727;
    --black: #1b1b1b;
    --titleFont:'Yanone Kaffeesatz', Arial, sans-serif;
}

head, body {
    height: 100%;
} 

.wrapper {
    overflow: hidden;
    min-width: 1310px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}
.hero {
    height: 100vh;
    min-height: 650px;
    background: url(./img/bg/hero.jpg) center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail__title {
    margin-bottom: 3px;
}

.mail__content {
    background: #212121;
    color: #d69f2c;
    font-size: 16px;
    padding: 5px 10px;

}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}

.sidebar {
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    transition: .3s;
}

.sidebar__menu {
    position: absolute;
    left: -400px;
    transition: left .3s;
}

.sidebar--opened .sidebar__menu {
    left: 0;
    text-align: center;
    width: 100%;
    transition-delay: .1s;
}


.sidebar--opened {
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__hamburger {
    display: none;
} 

.sidebar--opened .sidebar__header {
    display: flex;
}


.sidebar__header {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    justify-content: center;
}

.sidebar__hamburger-icon {
    height: 35px;
    width: 35px;
    fill: var(--yellow);
}

.sidebar__hamburger {
    position: absolute;
    display: block;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
    
}

.sidebar__close {
    position: absolute;
    top: 4px;
    right: 23px;
}

.sidebar__close-icon {
    height: 29px;
    width: 29px;
    fill: var(--yellow);
}

.side-menu__item {
    margin-bottom: 30px;
}

.side-menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--yellow);
    font-size: 20px;
    font-family: var(--titleFont);
}

.side-menu__link:hover {
    color: var(--red);
}

.fade-slider {
    width: 100%;
    height: 100%;
}

.fade-slider__item {
    background: center center / contain no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.fade-slider__item--visible {
    opacity: 1;
}

.fade-slider__item--style-tshirts {
    background-image: url(./img/content/hero/slider_pic_1.png);
}

.fade-slider__item--style-tshirts .fade-slider__text {
    left: 50%;
    top: 50%;
    transform: translateX(-154%) translateY(-52%);
}

.fade-slider__item--style-games {
    background-image: url(./img/content/hero/slider_pic_2.png);
}

.fade-slider__item--style-games .fade-slider__text {
    left: 0;
    right: 0;
    bottom: 0;
}

.fade-slider__item--style-games .lined-text {
    align-items: center;
}


.fade-slider__item--style-presents {
    background-image: url(./img/content/hero/slider_pic_3.png);
}

.fade-slider__item--style-presents .fade-slider__text {
    left: 0;
    bottom: -0;
    transform: translateY(-100%);
}

.fade-slider__item--style-presents .lined-text {
    align-items: center;
}

.fade-slider__text {
    position: absolute;
}

.lined-text {
    font-family: 'alegreya', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 63px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lined-text__word {
    background: #000;
    padding: 0 17px 8px;
    margin-top: -7px;
    white-space: nowrap;
}

.lined-text__word--color--yellow {
    color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
    margin-left: 8px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.filter__item {
    margin-right: 40px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 21px 1px;
    color:var(--black);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    font-family: var(--titleFont);
}

.filter__link:hover {
    color: var(--red);
}

.filter__item--active .filter__link {
    background:var(--black);
    color:var(--yellow);
}

.products {
    margin-bottom: 160px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.products__item {
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 35px;
    margin-left: 30px;
    position: relative;
}

.products__price {
    position: absolute;
    top: 18px;
    right: -6px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(-181deg);
}

.products__price-amount {
    transform: rotate(181deg);
    font-family: var(--titleFont);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    top: 1px;
    left: 37px;
    position: absolute;
}

.products__item--color-black {
    background: #232323;
}

.products__item--color-black .products__price {
    border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
    color: var(--black);
}

.products__item--size-double {
    width: 630px;
    height: 544px;
}

.products__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__item:hover .products__desc {
    transform: translateY(0);
}

.products__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, .8);
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: transform .3s;

}

.products__img {
    display: block;
    max-width: 90%;
    max-height: 100%;
}

.products__desc-text {
    text-align: center;
    margin-bottom: 18px;
}

.btn:hover {
    color: #fff;
    background: var(--red);
}

.btn {
    background:var(--black);
    color:var(--yellow);
    font-family: var(--titleFont);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    padding: 1px 30px;
    display: inline-block;
}

.collections {
    margin-bottom: 135px;
}

.collections__list {
    display: flex;
}

.collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url(./img/bg/pattern.png) center center / 500px;
    position: relative;
}

.collections__item::before {
    content: '';
    display: block;
    position: absolute;
    height: 170%;
    width: 60%;
    top: -17%;
    left: -18%;
    background: center center / contain no-repeat;
}

.collections__item--type-guys::before {
    background-image: url(./img/collections/collection_man.png);
}

.collections__item--type-girls::before {
    background-image: url(./img/collections/collection_woman.png);
    top: -31%;
    left: -25%;
    width: 80%;
}

.collections__link {
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    font-size: 17px;
    color: inherit;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.collections__link:hover .btn {
    background: var(--red);
    color: #fff;
}

.collections__title {
    text-transform: uppercase;
    font-family: var(--titleFont);
    line-height: 1;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 11px;
}

.collections__item:last-child {
    margin-right: 0;
}

.collections__desc {
    margin-bottom: 11px;
}
/*
.footer {
    margin-bottom: 120px;
}
*/
.footer__container {
    width: 1100px;
}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0;
}

.site-menu__title {
    font-family: var(--titleFont);
    font-size: 24px;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    text-decoration: none;
    color: #737373;
    font-size: 15px;
}

.site-menu__link:hover {
    color: var(--red);
}

.site-menu__text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 35px;
}

.site-menu__text-row {
    display: block;
    margin-bottom: 15px;
    color: inherit;
    text-decoration: none;
}

.extras {
    display: flex;
    margin-bottom: 90px;
}

.extras__col {
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child {
    margin-right: 0;
}

.extras__best {
    background: var(--black);
    color: #fff;
    font-family: var(--titleFont);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 39px 10%;
    line-height: 1;
}

.extras__col-socials {
    background: url(./img/bg/pattern.png) center center / 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.social__item {
    margin-right: 50px;
}

.social__item:last-child {
    margin-right: 0;
}

.socials__link {
    height: 40px;
    width: 40px;
    display: block;
} 

.socials__link:hover .socials__icon {
    fill: var(--red);
}

.socials__icon {
    width: 100%;
    height: 100%;
}